
/* ----- Function-like boxes -----*/
.close{ float: right; visibility:hidden; }
.head:hover > .close{ visibility:visible; }

/* :not(.comment>span)  object*/
.funcbox *:not(i){ /*font-family: "Lucida Console", "Courier New";*/
	font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	font-size: 16px;
	line-height: 1.4;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* ========================================================================== */
/*                          Text code highlighting                            */
/* ========================================================================== */
.kwd{ color:#66d9ef;}
.str{ color:#a6e22e;}
.pct{ color:mediumgrey;}
.op{ color:#a6e22e;}
.fnc{ color:#DAD085;}
.num, .bl{ color:#ae81ff;}

.cmt{
			/*padding: 6px;*/
			position: relative;
			display: inline-block;
		  }
.cmt .fa-commenting{ color:#87C38A; margin-left: 1px;}
.cmt .fa-times{ color:#d4676f; margin-right: 1px;}
.cmt .fa-times:hover{ cursor: pointer;}
.cmt span{  display: none; color:#7C7C7C;
						border-radius: 5px; padding: 5px;
						border: thin solid grey;
				    width: 120px;
				    /*text-align: center;*/

				    position: absolute;
						left: 0px; top:0px;
				    z-index: 1;


					}
						.cmt:hover span{ display: block; background: #262a33;}
/*.cmt:hover .fa-commenting{ display: none; }*/
/* ///////////////////////////////////////////////////////////////////////// */
/* ----- COMMENTS -----*/
.comment{
    color: lightgreen;
	padding: 6px;
	position: relative;
}
.comment i{
	display: inline;
	padding: 0px;
}
.comment .close{
   float: right;
   position: relative;
}
.comment span{
    float: none;
	z-index: 1010;
	max-width: 400px;
	min-width: 200px;
	display: none;
	position: absolute;
	top:0px;
	left:0px;
	background: grey;
	border: thin solid lightgreen;
	border-radius: 5px;
	padding: 3px 10px 3px 10px;
	font-family: Arial, Helvetica, sans-serif
}
.remove{
	width:15px;
	display: inline-block;
	margin-right: 10px;
	color:red:
}
.comment:hover span{ display: inline-block; }









/* ========================================================================== */
.global{
	  position:absolute;
}

/* ----- ARGUMENTS -----*/
.head .name{font-weight: 600;}
.head .args{
	cursor: text;
	background: #262a33;
	color: #d1e44c;
	min-width: 15px;
	height: 20px;
	padding-left: 6px;
	padding-right: 6px;
	padding-bottom:2px;
	font-weight: 300;
	border-radius: 3px;
}
/*.func>.head .args{
	background: #666;
}             */

/* ----- BOXES -----*/
.funcbox{
	cursor: move;
  	margin: 5px;
  	border-radius: 7px;
	color: #e2e2e2;
	border-width: 0px 1px 2px 1px;
}
.head{
	padding: 0px;
	border-radius: 7px 7px 0px 0px;
}
.head div, .head span, .head i{
	margin: 5px;
}

.function{
	background: #161719;;
	border-color: black;
}
.function > .head{
	background: #727272; /* Old browsers */
	background: -moz-linear-gradient(top,  #727272 0%, #0e0e0e 58%, #0e0e0e 60%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #727272 0%,#0e0e0e 58%,#0e0e0e 60%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #727272 0%,#0e0e0e 58%,#0e0e0e 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 }

.type>.head div, .array>.head div{
	border-radius: 7px 0px 13px 0px;
	border: none;
	display: inline-block;
	padding: 3px 8px 2px 8px;
	margin-top: 0px;
    margin-left: 0px;
}

.type{
	background: grey;
	border: thin solid blue;
}
.type>.head div{
	background: blue;
}
.type.global .head div{
	background: blue;
	background: -moz-linear-gradient(top,  #727272 0%, blue 58%, blue 60%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #727272 0%,blue 58%,blue 60%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #727272 0%,blue 58%,blue 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
/* ----- ARRAY Box -----*/
.array{
	background: grey;
	border: thin solid purple;
}
.array>.head div{
	background: purple;
}
.array.global .head div, .array.global .head span{
	background: purple;
	background: -moz-linear-gradient(top,  #727272 0%, purple 58%, purple 60%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #727272 0%,purple 58%,purple 60%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #727272 0%,purple 58%,purple 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.forloop .Body{
	background: #555;
}
.forEachloop{
	border: thin solid yellow;
	background: yellow;
	color: black;
}
.forloop{
	border: thin solid orange;
	background: orange;
}
.whileloop{
	border: thin solid red;
	background: red;
}
.loopName{
	min-width: 15px;
}
.forloop .Body, .forEachloop .Body{
		padding: 5px;
		background: #555;
		margin-bottom: 3px;
		margin-top: 3px;
		color: white;
}


















/* ///////////////////////////////////////////////////////////////////////// */
/* ----- Options PANEL -----*/
.optionsPanel{
	height: 100vh;
	position: fixed;
	right: 1px;
	background: #555;
	border-left: thin solid blue;
	padding: 3px;
	width:45px;
	z-index: 1000;
}
.optionsPanel i{
	text-align: center;
	font-size: 30px;
}
.hint{
	padding: 6px;
}
.hint div{
	z-index: 1000;
	max-width: 100px;
	display: none;
	position: absolute;
	background: #111;
	border: thick solid gray;
	border-radius: 15px;
	padding: 3px;
	color: white;
}
.hint:hover div{
	display: inline-block;
	bottom: 5px;
	right: 30px;
}
.hint:hover i{

	color: #981515;
	text-shadow: 1px 2px 5px white;
}

/* ///////////////////////////////////////////////////////////////////////// */
.Body{
	/*overflow-y: scroll;*/
	overflow: scroll;
	padding: 5px;
	margin-bottom: 3px;
	margin-top: 3px;
	min-width:500px;
	max-width:600px;
	min-height: 45px;
	max-height: 600px;
	cursor: text;
}
.Body::-webkit-scrollbar {
    width: 8px;
	  height: 8px;
    opacity: .3;
}
.Body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.Body::-webkit-scrollbar-thumb:hover {
	opacity: 1;
}

.Body::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 9px;
  outline: 1px solid #333;
}
.Body::-webkit-scrollbar-corner {
  background-color: #333;
}


body{ margin: 0; padding: 0; }
i{
	padding: 2px;
}
